.container {
  display: flex;
  & > div {
    flex: 1;
    height: 100vh;
  }

  & .left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }

  & .right {
    & img {
      height: 100%;
      width: 100%;
    }
  }

  & .action-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 510px;
    justify-content: flex-start;
    margin-top: -60px;

    &__heading {
      font-size: 32px;
      font-weight: 500;
      letter-spacing: .5px;
      margin-bottom: 3rem;
      text-align: center;
    }

    &__body {
      & form {
        display: flex;
        flex-direction: column;
      }

      & .form-field {
        margin-bottom: .5rem;
      }
    }

  }
}
